body{
    background-image: url(/CSS/img/background.jpg);
    font-family: 'Roboto', sans-serif;
}

header{
    background:linear-gradient(45deg, rgb(7, 24, 122), rgba(6, 161, 192, 0.685));
    padding: 20px 0;
}

.cabezera img{
    display: inline-block;
    padding-left: 55px;
}

.cabezera h1{
    display: inline;
    font-size: 45px;
    right: 0;
    position: absolute;
    padding-top: 40px;
    padding-right: 55px;
}

.encriptador{
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 45em;
}

.encriptador textarea{
    resize: none;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
}

.encriptador button{
    display: block;
    margin-left: 21em;
    margin-top: 6px;
    border: none;
    border-radius: 10px;
    transition: 400ms;
    color: #fff;
    text-align: center;
    font-weight: bold;
    background: url(/CSS/img/button.gif);
    width: 7em;
    height: 4em;
    cursor: pointer;
}

.encriptador button:hover{
    background: url(/CSS/img/buttonhover.gif);
    transform: scale(1.2);
}